<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>CommaSeparated</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Calculate</display-name>
    <servlet-name>Calculate</servlet-name>
    <servlet-class>commaSeparated.Calculate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Calculate</servlet-name>
    <url-pattern>/cal</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Duplicate</display-name>
    <servlet-name>Duplicate</servlet-name>
    <servlet-class>commaSeparated.Duplicate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Duplicate</servlet-name>
    <url-pattern>/dup</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Sort</display-name>
    <servlet-name>Sort</servlet-name>
    <servlet-class>commaSeparated.Sort</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Sort</servlet-name>
    <url-pattern>/sort</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Maximum</display-name>
    <servlet-name>Maximum</servlet-name>
    <servlet-class>commaSeparated.Maximum</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Maximum</servlet-name>
    <url-pattern>/max</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Unique</display-name>
    <servlet-name>Unique</servlet-name>
    <servlet-class>commaSeparated.Unique</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Unique</servlet-name>
    <url-pattern>/unique</url-pattern>
  </servlet-mapping>
</web-app>